._*
.DS_Store
*$py.class
Docs/Script-JythonDocs/build/*
Targets/build/
Targets/dist/
Targets/private/
Resources/jython/cachedir/
/Projects/VisionProxyMac64/build/
/Projects/VisionProxyMac64/dist/
/Projects/MacHotkeyManager64/dist/
/Projects/MacHotkeyManager64/build/
/Projects/Sikuli-Script/nbproject/private/
/Projects/Sikuli-Script/dist/
/Projects/Sikuli-Script/build/
/Projects/Sikuli-Script/cachedir/
/Projects/RaiManSikuli2012-MacUtilMac64/build/
/Projects/RaiManSikuli2012-MacUtilMac64/dist/
/Projects/MacUtil64/build/
/Projects/MacUtil64/dist/
/Projects/Sikuli-IDE/nbproject/private/
/Projects/Sikuli-IDE/dist/
/Projects/Sikuli-IDE/build/