._*
.DS_Store
*$py.class
Docs/Script-JythonDocs/build/*
Targets/build/
Targets/dist/
Targets/private/
Resources/jython/cachedir/
Resources/java/cachedir/
Resources/java/cachedir/packages
/Projects/Sikuli-Script/nbproject/private/
/Projects/Sikuli-Script/dist/
/Projects/Sikuli-Script/build/
/Projects/Sikuli-Script/cachedir/
/Projects/Sikuli-IDE/nbproject/private/
/Projects/Sikuli-IDE/dist/
/Projects/Sikuli-IDE/build/
/Projects/Sikuli-IDE/cachedir/
/Projects/MacUtil64/build/
/Projects/MacUtil64/dist/
/Projects/WinUtil64/build/
/Projects/WinUtil64/dist/
/Projects/WinUtil32/build/
/Projects/WinUtil32/dist/
/Projects/MacHotkeyManager64/dist/
/Projects/MacHotkeyManager64/build/
/Projects/MacVisionProxy64/build/
/Projects/MacVisionProxy64/dist/
/Projects/WinVisionProxy32/build/
/Projects/WinVisionProxy32/dist/
/Projects/WinVisionProxy64/build/
/Projects/WinVisionProxy64/dist/
